.drag-resize {
  touch-action: none;
}
body {
  padding: 3px;
  margin: 0;
  height: 800px;
}
body .side {
  width: 20%;
  height: 640px;
  /* Fade in tabs */
}
body .side .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
body .side .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
body .side .tab button:hover {
  background-color: #ddd;
}
body .side .tab button.active {
  background-color: #ccc;
}
body .side .tab button.active {
  background-color: #ccc;
}
body .side .tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 0.1s;
  animation: fadeEffect 0.1s;
}
body .side .tabcontent .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  left: 50%;
}
body .side .tabcontent .upload-btn-wrapper .btn {
  border: 2px solid #00a0e8;
  color: #00a0e8;
  background-color: #ffffff;
  padding: 8px 20px;
  border-radius: 1px;
  font-size: 20px;
  font-weight: bold;
}
body .side .tabcontent .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
body .side .tabcontent .content {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
body .side .tabcontent .content .btn {
  border: 2px solid #00a0e8;
  color: #00a0e8;
  background-color: #ffffff;
  padding: 8px 20px;
  border-radius: 1px;
  font-size: 20px;
  font-weight: bold;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body .main {
  width: 80%;
  height: 800px;
  min-height: 800px;
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
}
body .main .card {
  position: relative;
  height: 800px;
}
body .main canvas {
  position: absolute;
}
